.search-input {
	margin-bottom: -3px;
}

.filter-list-rich-types-media {
	margin-top: -5px;
}

.badge {
	margin-right: 15px;
}

.title {
	margin-top: 2px;
}

.list-group-with-indicators {
	margin-bottom: 15px !important; 
}